CoAuthTest/pkgs/Wadl/SmartApp-SaveAttachments.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SmartApp-SaveAttachments" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SmartApp-SaveAttachments" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_InitializevarCollectionString_Value_def" />
      <integer name="ManualTriggerInput_InitializevarDailyPlanActivityAutoID_Value_def" />
      <string name="ManualTriggerInput_InitializevarProjectInternalID_Value_def" />
      <object name="ManualTriggerInput">
        <property name="InitializevarCollectionString_Value" type="string" />
        <property name="InitializevarDailyPlanActivityAutoID_Value" type="integer" />
        <property name="InitializevarProjectInternalID_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="InitializevarCollectionString_Value" path="/InitializevarCollectionString_Value" type="xs:string" required="true" />
            <param style="plain" name="InitializevarDailyPlanActivityAutoID_Value" path="/InitializevarDailyPlanActivityAutoID_Value" type="xs:long" required="true" />
            <param style="plain" name="InitializevarProjectInternalID_Value" path="/InitializevarProjectInternalID_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>